body{

	margin: 0;
	padding: 0;
	background-color: #0e0e0e;
	font-family: sans-serif;

}


/****************

---Home page style

****************/
#container{

	top: 40px;
	margin: 0 auto;
	position: relative;
	width: 950px;
	background: white;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px black;

}

#collageBackground{
	
	background: url('../Resources/collageBG.png') no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 1435px;
	position: absolute;

}

#navigation{

	width: auto;
	height: 100px;
	position: relative;

}

#telBg{

	position: absolute;
	right: 0px;


}


/*Navigation_Menu style*/

#navigationMenu{

	position: absolute;
	top: 40px;
	right: 30px;

}

#navigationMenu ul{

	list-style: none;
	

}

#navigationMenu ul li{

	
	display: inline-block;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12px;
	margin-left: 55px;
	font-weight: bold;

}

#navigationMenu a{

	text-decoration: none;
	color: #575757;

}

#title{

	font-family: sans-serif;	
	position: absolute;
	 background: -webkit-linear-gradient( #CCCCCC, #000000, #adadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	left: 90px;

}

#subTitle{

	font-size: 14px;
	display: block;

}

#bLogo{

	position: absolute;
	top:27px;
	left: 40px;

}

#content{
	position: relative;

}
#contentImg{
	position: relative;
	width: 100%;
	height: 350px;
	z-index: 1;

}

#sliderText{

	position: absolute;
	z-index: 20;
	color: #FFFFFF;
	top:49px;
	right: 254px;
	font-size: 22px;

}

#sliderDot{

	position: absolute;
	width: 100px;
	height: 10px;
	z-index: 10;
	top: 72px;
	right: 19px;
	
}

#productImg{
	
	position: absolute;
	z-index: 10;
	width: auto;
	height: auto;
	right: 50px;
	top: 103px;

}

#productShadow{

	position: absolute;
	z-index: 10;
	width: auto;
	height: auto;
	right: 30px;
	top: 58px;

}

#productShadowBottom{

	position: absolute;
	z-index: 10;
	width: 46%;
	height: auto;
	right: 30px;
	top: 350px;

}

#businessMotto{

	position: absolute;
	z-index: 10;
	color: #FFFFFF;
	left: 50px;
	top: 91px;
	text-shadow: 3px 2px 8px black;
	line-height: 35px;

}

#businessMotto span{

	display: block;

}

#capsMotto{

	font-size: 28px;

}

#buttonImg{

	position: absolute;
	z-index: 10;
	top: 240px;
	left: 50px;

}

#buttonArrow{

	position: absolute;
	z-index: 10;
	top: 260px;
	left: 265px;

}

#buttonName{
	
	color: #b90016;
	position: absolute;
	z-index: 20;
	font-size: 18px;
	top: 245px;
	left: 67px;

}

#bottomContent{
	
	background: #ededed;
	box-shadow: 0px 2px 4px -2px #818181;
	width: auto;
	height: 124px;
	position: relative;
	bottom: 5px;
	font-size: 14px;
	color: #575757;

}

.bottom-content-span{

	display: block;
	font-size: 10px;
}

#wallet{

	position: absolute;
	left: 50px;
	top: 40px;

}

#walletText{

	position: absolute;
	top: 27px;
	left: 132px;

}


#clock{

	position: absolute;
	left: 348px;
	top: 40px;

}

#clockText{

	position: absolute;
	top: 27px;
	left: 426px;

}



#telephone{

	position: absolute;
	right: 234px;
	top: 40px;

}

#telephoneText{

	position: absolute;
	top: 27px;
	right: 105px;

}

#webQuestions{

	position: relative;
	width: auto;
	height: 500px;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 13px;
	color: #575757;

}

#whoQ{

	float: left;
	width: 270px;
	height: auto;
	margin-right: 20px;
}

.questions{	
	color: #575757;
	font-size: 24px;
}

.question-description{

	line-height: 20px;
}

#rmButtonText{

	position: absolute;
	font-weight: bold;
	padding-top: 5px;
	left: 10px;
}

#whatQ{

	float: left;
	width: 290px;
	height: auto;
	
}



#whyQ{

	float: left;
	width: 270px;
	height: auto;
	margin-left: 20px;

}

#rmButtonTextWhyQ{

	position: absolute;
	font-weight: bold;
	padding-top: 5px;
	right: 182px;

}

#whatQLinks span{

	padding-left: 20px;
	line-height: 20px;
	color: #0f4db6;
	font-size: 12px;	

}

#webExtraInfo{

	background: #ededed;
	height: 212px;
	width: auto;
	position: relative;
	border-bottom: 1px solid #C4B7B7;
	border-top: 1px solid #818181;

}

#webExtraInfoContent{
	
	position: absolute;
	left: 40px;


}


#footer{
	
	position: relative;
	background: #ededed;
	margin-bottom: 40px;
	width: auto;
	height: 50px;
	position: relative;
	border-top: 1px solid #FFFFFF;
	font-size: 12px;
	color: #575757;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;  
}

#footerContent{

	position: absolute; 
	left: 40px;
	margin-right: 40px;
	line-height: 25px;
	z-index: 10;
}

.icons{

	padding-left: 5px;
}

#footerContent span{

	margin-right: 180px;

}

#bLogo2{

	top: 12px;
	position: absolute;
	right: -196px;
	
}

#browseSite{

	float: left;
	width: 240px;
	height: auto;
	color: #575757;
}
#browseSite p{


	font-size: 13px;
	line-height: 20px;
}

#testimonials{

	float: left;
	width: 290px;
	height: auto;
	color: #575757;
	margin-right: 30px;
}

#testimonials p{

	font-size: 13px;
	line-height: 20px;
	
}
#testimonials b{

	color: black;
}

#blog{
	
	float: left;
	width: 310px;
	height: auto;
	color: #575757;
}

#blog p{

	font-size: 13px;
	
}

#blog span{

	color: #0f4db6;
}

#activeNav{

	background: -webkit-linear-gradient(top, #236aca 1%,
		#003986 40%,#003986 62%,#236aca 100%);
	box-shadow: 0px 2px 2px -1px #818181;
	border: 1px solid black;
	left: 90px;;
	width: 43px;
	height: 19px; 
	padding-left: 8px;
	padding-top: 5px;
	box-shadow: 0px 2px 2px -1px #818181;
	border-radius: 5px;

}

#activeNavTextColor{

	color: white;

}

#navigationMenu a:hover{

	color: black;
}

/****************

---End Home page style

****************/


/****************

---About Us page style

****************/

#auActiveNav{

	
	background: -webkit-linear-gradient(top, #236aca 1%,
		#003986 40%,#003986 62%,#236aca 100%);
	box-shadow: 0px 2px 2px -1px #818181;
	border: 1px solid black;
	width: 50px;
	height: 19px;
	padding-left: 8px;
	padding-top: 5px;
	border-radius: 5px;

}

#auContent{
	position: relative;
	height: 977px;

}

#auContentTitle img{
	top:0;
	left: 0px;
	position: relative;
	height: 78px;
	width: 950px;
	
	
}

#auContentTitle h2{

	position: absolute;
	z-index: 10;
	color: #FFFFFF;
	top: 5px;
	left: 40px;


}

#auContentTitle em{
	position: absolute;
	right: 40px;
	font-size: 20px;
	color: #FFFFFF;
	top: 27px;
	z-index: 10;
}

#leftContent{
	
	bottom: 4px;
	float: left;
	width: 700px;
	height: 92%;
	position: relative;
	box-shadow: 10px 20px 25px 0px #CCC;
	

}

#leftContent p{ 
	
	color: #4D4D4D;
	font-size: 14px;
	line-height: 28px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
	margin-right: 40px;

}

#auSideNav{

	bottom: 4px;
	float: left;
	width: 190px;
	height: 92%;
	position: relative;

}

#sideNavTitle{
	
	left: 0px;
	top: 50px;
	position: absolute;
	background: -webkit-linear-gradient(left, #CCCCCC 0%, #FFFFFF 100%);
	height: 35px;
	width: 111%;

}

#sideNavTitle h2{

	left: 20px;
	font-size: 20px;
	position: absolute;
	top: -12px;

}

#sideNavLinks span{

	padding-left: 20px;
	line-height: 20px;
	color: #0D708F;
	font-size: 12px;


}

#sideNavLinks{

	position: absolute;
	top: 100px;
	left: 20px;
}

#clientNavTitle{
	
	left: 0px;
	top: 295px;
	position: absolute;
	background: -webkit-linear-gradient(left, #CCCCCC 0%, #FFFFFF 100%);
	height: 35px;
	width: 111%;

}

#clientNavTitle h2{

	left: 20px;
	font-size: 20px;
	position: absolute;
	top: -12px;

}


#client{

	position: absolute;
	top: 387px;

}

.clientImg{
	margin-left: 20px;
	margin-bottom: 20px;
}

/****************

---End About Us page style

****************/

/****************

---Contact Us page style

****************/

.userInput{

	display: block;	
	font-size: 30px;
	background: -webkit-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%);;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	margin-bottom: 40px;
	margin-right: 40px;
	color: #000000;
}

#inputArea h4{
	
	color: #575757;
	margin-top: 50px;
	margin-left: 40px;

}

#message{

	margin-left: 40px;
	height: 220px;
	width: 375px;
	background: -webkit-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%);
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	border-radius: 5px;
	resize: none;

}

#send{

	position: absolute;
	left: 67px;
	bottom: 215px;
	color: #4D4D4D;
	z-index: 10;
	font-weight: bold;
	font-size: 16px;

}

#sendBG{

	position: absolute;
	left: 40px;
	bottom: 210px;
}

#cuActiveNav{
	
	background: -webkit-linear-gradient(top, #236aca 1%,
		#003986 40%,#003986 62%,#236aca 100%);
	border: 1px solid black;
	box-shadow: 0px 2px 2px -1px #818181;
	width: 66px;
	height: 19px;
	padding-left: 8px;
	padding-top: 5px;
	border-radius: 5px;

}

#cusideNavTitle{
	
	left: 0px;
	top: 50px;
	position: absolute;
	background: -webkit-linear-gradient(left, #CCCCCC 0%,
	 #FFFFFF 100%);;
	height: 30px;
	width: 111%;

}

#cusideNavTitle h2{

	left: 20px;
	font-size: 18px;
	position: absolute;
	top: -12px;

}

#cusideNavLinks{

	position: absolute;
	left: 20px;
	top: 90px;
}

#cusideNavLinks p{

	font-size: 14px;
	color: #575757;
	line-height: 20px;

}

#cuContactDetailsTitle{
	
	left: 0px;
	top: 200px;
	position: absolute;
	background: -webkit-linear-gradient(left, #CCCCCC 0%, 
		#FFFFFF 100%);;
	height: 30px;
	width: 111%;

}

#cuContactDetailsTitle h2{

	left: 20px;
	font-size: 18px;
	position: absolute;
	top: -12px;

}

#cuContactDetails{
	
	left: 20px;
	position: absolute;
	top: 240px;
}

#cuContactDetails p{

	font-size: 13px;
	color: #4D4D4D;
	line-height: 20px;

}

#cuConnect{
	
	left: 0px;
	top: 360px;
	position: absolute;
	background: -webkit-linear-gradient(left, #CCCCCC 0%, #FFFFFF 100%);;
	height: 30px;
	width: 111%;

}

#cuConnect h2{

	left: 20px;
	font-size: 18px;
	position: absolute;
	top: -12px;

}

#cuConnectLinks{

	left: 20px;
	position: absolute;
	bottom: 435px;

}

/***********
	
---Portfolio page style

***********/

#portContentTitle img{

	top:0;
	left: 0px;
	position: relative;
	height: 78px;
	width: 950px;
	
	
}


#portContentTitle h2{

	position: absolute;
	z-index: 10;
	color: #FFFFFF;
	top: 5px;
	left: 40px;


}

#portContentTitle ul{

	position: absolute;
	z-index: 10;
	list-style: none;
	font-size: 16px;
	right: 40px;
	top: 15px;

}

#portContentTitle li{
	
	display: inline;
	margin-left: 15px;

}

#portContentTitle a{

	text-decoration: none;
	color: #76E4FF;

}

#portContentTitle a:hover{

	color: white;

}

#portfolioNavActive{

	color: white;

}

#products{

	color: #4D4D4D; 
	width: auto;
	margin-left: 40px;
	margin-right: 40px;
	height: 831px;
	position: relative;
	bottom: 4px;

}

#firstLayer{
	
	position: relative;	
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
	height: 100%;
	width: 270px;

}

#secondLayer{

	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
	height: 100%;
	width: 270px;
	margin-right: 30px;
	margin-left: 30px;

}

#thirdLayer{

	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
	height: 100%;
	width: 270px;

}

.product-description{
	
	display: block;
	font-size: 11px;
	margin-bottom: 65px;
	line-height: 15px;

}

#portContent{

	position: relative;
	height: 913px;
	box-shadow: 0px 25px 23px -12px #CCCCCC;

}

#portNumbering{

	position: relative;
	width: auto;
	height: 63px;

}

#productNumber{
	
	position: absolute;
	left: 0px;
	top: 10px;
	list-style: none;
	font-weight: bold;
	font-size: 12px;
}

#productNumber li{

	display: inline;
	padding-right: 20px;
	
}

#productNumber a{

	text-decoration: none;
	color: #0f4db6;

}

#productNumberActive{

	color: black;

}

.product-name{

	font-size: 14px;
	color: #2C2C2C;

}

#porfolioMainMenuActiveNav{
	
	background: -webkit-linear-gradient(top, #236aca 1%,
		#003986 40%,#003986 62%,#236aca 100%);
	box-shadow: 0px 2px 2px -1px #818181;
	border: 1px solid black;
	width: 75px;
	height: 19px;
	padding-left: 8px;
	padding-top: 5px;
	border-radius: 5px;

}

/***********
	
---End of Portfolio page style

***********/

.read-more-button{
	
	position: relative;
	left: 0;
	color: #575757;
	height: 30px;
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 3px 2px -1px #818181;

}

.send-button{
	
	position: relative;
	left: 40px;
	width: 100px;
	font-size: 14px;
	margin-top: 20px;
	color: #575757;
	height: 30px;
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 3px 2px -1px #818181;

}